In [214]:
from datetime import datetime as dt
import os
import pandas as pd
from pandas_datareader.data import DataReader
import time

# Get out the results data
df_res = pd.read_csv("../data/2914_rets.csv", usecols=['Date','roughly_cum_rets_long', 'roughly_cum_rets_long_short',
       'security_cum_rets'])
df_res.index = df_res["Date"]
df_res = df_res.rename(columns = {'Date':'res_date'})
start_date = min(df_res["res_date"])
end_date = max(df_res["res_date"])

# Get the indicators data
df_ind = pd.read_csv("../data/indicator2-history.csv", usecols=["reuters_ticker",'market_date','indicator'])
df_ind.index = df_ind["market_date"]
df_ind = df_ind.rename(columns = {'market_date':'ind_date'})

# Prepare the time series 
TICKER = "TSE/2914"
TS_SOURCE = "quandl" # "google""
df_ts = None
try:
    df_ts = DataReader(TICKER, TS_SOURCE, start_date, end_date)
#                     dt.datetime(2017, 1, 1),
#                     dt.datetime.now())
except:
    print('Data is not available for {}'.format(ticker))

df_ts["ts_date"] = df_ts.index
df_ts["ts_date"] = df_ts["ts_date"].apply(lambda x : str(x.date()))
df_ts.index = df_ts["ts_date"]

In [215]:
df2914 = df_ind[(df_ind["reuters_ticker"]=="2914.T") & (df_ind["ind_date"]>=start_date) & (df_ind["ind_date"]<=end_date)]
min(df2914["ind_date"]), max(df2914["ind_date"])

('2015-04-10', '2017-02-27')

In [216]:
min(df_res["res_date"]), max(df_res["res_date"])

('2015-04-10', '2017-02-27')

In [217]:
print(df_ind.shape)
print(df_ts.shape)
print(df2914.shape)
print(df_res.shape)

(9335521, 3)
(460, 6)
(492, 3)
(460, 4)

In [197]:
len(set(df2914["ind_date"])-set(df_res["res_date"]))

32

In [218]:
len(set(df_res["res_date"])-set(df_ts.index))

0

In [204]:
print(df2914["ind_date"].iloc[0])
print(df_res["res_date"].iloc[0])
print(df_ts["ts_date"].iloc[0])

2015-04-10
2015-04-10
2017-02-27

In [219]:
df2914.head()

               ind_date reuters_ticker  indicator
market_date
2015-04-10   2015-04-10         2914.T          8
2015-04-13   2015-04-13         2914.T          9
2015-04-14   2015-04-14         2914.T          9
2015-04-15   2015-04-15         2914.T          9
2015-04-16   2015-04-16         2914.T          9

In [220]:
mother_df = pd.concat([df_ts, df_res, df2914], axis=1, join='inner')

In [221]:
mother_df.head()

,Open,High,Low,Close,Volume,ts_date,res_date,roughly_cum_rets_long,roughly_cum_rets_long_short,security_cum_rets,ind_date,reuters_ticker,indicator
2017-02-27,3785.0,3800.0,3748.0,3778.0,3151200.0,2017-02-27,2017-02-27,0.990539,1.140525,0.931460,2017-02-27,2914.T,10
2017-02-24,3825.0,3832.0,3791.0,3805.0,2867500.0,2017-02-24,2017-02-24,0.990539,1.140420,0.938116,2017-02-24,2914.T,10
2017-02-23,3800.0,3818.0,3777.0,3811.0,2790800.0,2017-02-23,2017-02-23,0.990539,1.139965,0.939596,2017-02-23,2914.T,10
2017-02-22,3783.0,3808.0,3771.0,3798.0,3451700.0,2017-02-22,2017-02-22,0.990539,1.139242,0.936391,2017-02-22,2914.T,10
2017-02-21,3770.0,3781.0,3753.0,3778.0,2772900.0,2017-02-21,2017-02-21,0.990539,1.138203,0.931460,2017-02-21,2914.T,10

In [222]:
df2914.loc["2017-02-22"]

ind_date          2017-02-22
reuters_ticker        2914.T
indicator                 10
Name: 2017-02-22, dtype: object

In [223]:
df_res.loc["2017-02-22"]

res_date                       2017-02-22
roughly_cum_rets_long            0.990539
roughly_cum_rets_long_short       1.13924
security_cum_rets                0.936391
Name: 2017-02-22, dtype: object

In [224]:
df_ts.loc["2017-02-22"]

Open             3783
High             3808
Low              3771
Close            3798
Volume     3.4517e+06
ts_date    2017-02-22
Name: 2017-02-22, dtype: object